/**
 * Colors
 */
$color_badge_blue: #17a2b8;
$color_badge_grey_blue: #6c757d;
$color_badge_green: #28a745;
$color_badge_yellow: #ffc107;
$color_badge_red: #dc3545;

$color_text_grey: #212529;
$color_text_inv: #ffffff;

/**
 * Breakpoints
 */
$bp_handheld: 782px;
$bp_desktop:  1200px;

/**
 * Texts
 */
$html_font_size: 16px;
