#smtp_widget_high {
	.#{$prefix}dashboard-footer {
		width: 100%;
		display: flex;
		justify-content: space-between;

		p {
			margin-bottom: 0;
		}

		.#{$prefix}credit {
			font-size: 11px;
		}
	}

	.inside {
		display: flex;
		flex-wrap: wrap;

		> div:not(.#{$prefix}dashboard-footer) {
			width: 50%;
		}
	}
}
