.wpsmtp-badge {
	display: inline-block;
	padding: .25em .6em .25em .6em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	color: $color_text_inv;
	background-color: $color_badge_grey_blue;

	@include circular;

	&.wpsmtp-badge-info {
		background-color: $color_badge_blue;
	}
	
	&.wpsmtp-badge-success {
		background-color: $color_badge_green;
	}
	
	&.wpsmtp-badge-warning {
		color: $color_text_grey;
		background-color: $color_badge_yellow;
	}
	
	&.wpsmtp-badge-danger {
		background-color: $color_badge_red;
	}
}
