.wpsmtp-badge {
	padding: .25em .6em;
	font-size: rem(10.5px);
	font-weight: 700;
	border-radius: rem(16px);
	color: $color_text_inv;
	background-color: $color_badge_grey_blue;

	&.wpsmtp-badge-info {
		background-color: $color_badge_blue;
	}
	
	&.wpsmtp-badge-success {
		background-color: $color_badge_green;
	}
	
	&.wpsmtp-badge-warning {
		color: $color_text_grey;
		background-color: $color_badge_yellow;
	}
	
	&.wpsmtp-badge-danger {
		background-color: $color_badge_red;
	}
}
