@include breakpoint(handheld) {

	.wpsmtp-log-table {

		.log-row {
			display: flex;
			flex-direction: column;
		}

		&.wp-list-table {

			tr {

				&:not(.inline-edit-row):not(.no-items) td:not(.column-primary)::before {
					position: static;
					left: initial;
					font-weight: 700;
					padding-bottom: 2px;
				}

				.row-actions {
					left: 0;
					display: block;
				}
			}

			tfoot {

				th:first-child ~ th,
				tr:not(.inline-edit-row):not(.no-items) td.column-primary ~ td:not(.check-column) {
					display: none;
				}
			}
		}
	}
}
