<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Basic Tests">
            <directory suffix="-test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name='SMTP_HOST' value='127.0.0.1' />
        <env name='SMTP_PORT' value='8083' />
        <env name='SMTP_AUTH' value='0' />
        <env name='SMTP_USER' value='' />
        <env name='SMTP_PASS' value='' />
    </php>
</phpunit>